apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: <INSERT_BASE64_ROOT_PASS>
  MYSQL_DATABASE: <INSERT_BASE64_DB_NAME>
  MYSQL_USER: <INSERT_BASE64_USER>
  MYSQL_PASSWORD: <INSERT_BASE64_PASSWORD>
